body{
    
    background-image: url(bg.png);
    background-size: cover;
}

.title{
    height: 100px;
    padding: 70px;
    text-align: center;
    color: white;
}

.table{
    width: 90%;
    margin: 0 auto;
    border: white;
    color: white;
}

